body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', arial;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  background-color: #eeeeec;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
  margin: 0px; /* Re-com thing */
  font-size: 3em;
}
h1 {
  font-size: 2.5em
}

h2 {
    font-size: 2em;
    margin: 0px; /* Re-com thing */
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.banner-text {
    font-family: 'Pacifico', cursive;
    padding: 15px;
    color: #1e36fd;
}

.banner {
    height: 75px;
    background-color: #D6D6D4;
}

.main-plot {
    display: grid;
    grid-template-rows: 50vh 1fr;
    grid-gap: 5px;
    margin: 30px 5vw;
    max-width: 800px;
}
