* {
    box-sizing: border-box;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', arial;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.125em;
  background-color: #eeeeec;
  line-height: 1.5em;
}

/* TODO: Go through h1, h2, h3, a, a:hover and figure out if I should just get rid of them. I can probs move explanation text into these fields then. */
h1, h2, h3 {
  color: #000;
  /*margin: 0px;*/ /* Re-com thing */
  font-size: 3em;
}
h1 {
  font-size: 2.5em
}

h2 {
    font-size: 2em;
    margin: 0px; /* Re-com thing */
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.banner-text {
    font-family: 'Pacifico', cursive;
    padding: 15px;
    color: #1e36fd;
}

.banner {
    height: 75px;
    background-color: #D6D6D4;
}

.main-plot {
    display: grid;
    grid-template-rows: 50vh 1fr;
    grid-gap: 5px;
    margin: 30px 5vw;
    max-width: 800px;
}

.text-container{
    width: 500px;
    margin: 30px auto;
    padding-bottom: 60px;
}

.explanation {
    background-color: #fff;
    margin: 0 -150px 0;
    overflow: auto;
    padding: 29px 60px 15px 60px;
}

.explanation > h1 {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', arial;
    font-weight: normal;
    line-height: 1.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.explanation > p, .demo-text > ul {
    font-family: georgia, serif;
    font-size: 18px;
    line-height: 1.611em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1em;
    martin-top: 1em;
}

.explanation > p > code, .demo-text > ul > li > code {
    font-size: 16px;
    background-color: #f5f5f4;
    padding: 0 3px;
}

.explanation > ul > li {
    margin-bottom: 0.5em;
}
